<div class="m-5 items_page" style="text-align: center;">
  <div class="title" style="border-bottom: 3px solid #3d85c6;">
    <h1>Shopping Cart</h1>
  </div>

  <% if @items.length == 0 %>
    <div class="p-5 m-5">
      <h2>Your Shopping Cart is currently empty</h2>
    </div>
    <div class="p-3">
      <%= link_to "<Back To Menu", items_url(), style: "color: white;", class: "btn btn-success" %>
    </div>
  <% else %>

      <div class="row m-3 cart-items" style="text-align:center;border-bottom: 3px solid black;">
        <% @items.each do |item| %>
          <div class="m-3" style="width: 18rem;">
            <%= image_tag "image.png" ,class: "card-img-top" %>
          </div>
          <div class="m-3">
            <h3><%= item.name %> x 1</h3>
          </div>
          <div class="">
            <h3>$ <%= item.price %>.0</h3>
          </div>
        <% end %>
      </div>
      <div class="m-3">
        <h3>Total: $ <%= @total %>.0</h3>
      </div>


    <div class="m-5">
      <%= link_to "<Back To Menu", items_url(), style: "color: white;", class: "btn btn-success" %>
      <%= link_to "Checkout", thanks_users_url(), style: "color: white;", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
