<div class="m-5 cart_page" style="text-align: center;">
  <div class="title" style="border-bottom: 3px solid #004AAD;">
    <h1>Shopping Cart</h1>
  </div>

  <% if @items.length == 0 %>
    <div class="p-5 m-5">
      <h2>Your Shopping Cart is currently empty</h2>
    </div>
    <div class="p-3">
      <%= link_to "<Back To Menu", items_url(), style: "color: white;", class: "btn btn-success btn-green" %>
    </div>
  <% else %>

      <div class="row m-3 cart-items" style="text-align:center;border-bottom: 3px solid black;">
        <% @items.each do |item| %>
          <div class="m-3" style="width: 18rem;">
          <% if item[0].status == "meal" %>
            <%= image_tag "meal.jpg" ,class: "card-img-top" %>
          <% elsif item[0].status == "snack" %>
            <%= image_tag "snack.jpg" ,class: "card-img-top" %>
          <% else %>
            <%= image_tag "drink.jpg" ,class: "card-img-top" %>
          <% end %>
          </div>
          <div class="m-3">
            <h3><%= item[0].name %> x <%= item[1] %> ($<%= item[0].price %>/each)</h3>
          </div>
          <div class="">
            <% total = item[0].price * item[1].to_i %>
            <h3>$<%= total %>.0 </h3>
          </div>
        <% end %>
      </div>
      <div class="m-3" style="text-align:center;border-bottom: 3px solid black;">
        <h3>Delivery Fee: $3.0</h3>
      </div>
      <div class="m-3" style="text-align:center;border-bottom: 3px solid black; color:#004AAD;">
        <h3>Total: $<%= @total %>.0</h3>
      </div>


    <div class="m-5">
      <%= link_to "<Back To Menu", items_url(), style: "color: white;", class: "btn btn-success btn-green" %>
      <%= link_to "Checkout", thanks_users_url(), style: "color: white;", class: "btn btn-primary btn-officebreaks" %>
    </div>
  <% end %>
</div>

<script>


</script>
