
<% if user_signed_in? %>
  <div class="home-page" style="text-align: center;">
    <div class="home">
      <h1>HOME</h1>
    </div>
    <div class="">
      <%= image_tag ("menu.jpg"), style: "height: 45%; width: 45%;" %>
      <%= link_to "View Menu List", items_url(), class: "btn btn-primary btn-officebreaks home-image" %>
    </div>
  </div>
<% else %>
  <div class="m-5" style="text-align: center;">    
    <div class="wannabreak">
      <h1>Want to have a break?</h1>
    </div>
    <div class="m-3">
      <%= image_tag ("menu2.jpg"), style: "height: 45%; width: 45%;" %>
    </div>
    <div class="m-3">
        <%= link_to "Sign up", new_user_registration_path, style: "color:white;", class: "btn btn-success btn-green m-5" %>
        <%= link_to "Log in", new_user_session_path, style: "color:white;", class: "btn btn-primary btn-officebreaks m-5" %>
    </div>
  </div>
<% end %>